:root {
  --max-body-width: 700px;
  --loader-bullet-size: 6px;
}

.darkmode {
  --body-background-col: #001941;
  --main-background-col: #000000;
  --left-background-col: #241548;
  --main-col: #c4d5d4;
  --border-col: #00afaa;
  --secondary-col: #000000;
  --menu-col: #8418ab;
}

.lightmode {
  --body-background-col: #ffd99b;
  --main-background-col: #ffffff;
  --left-background-col: #3d3d3d;
  --main-col: #311937;
  --border-col: #8418ab;
  --secondary-col: #f4f4f4;
  --menu-col: #e35f00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-col);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.left-container {
  flex: 1;
  display: flex;
  position: fixed;
  left: 0%;
  top: 0%;
  /*width: 15%;*/
  min-height: 100vh;
  background: var(--left-background-col);
  text-align: center;
}

.upload-container {
  position: fixed;
  position: fixed;
  top: 50px;
  left: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: var(--border-col);
  padding: 5px;
  display: flex;
  align-self: center;
  gap: 100px;
  color: var(--main-col);
}

.upload-input {
  flex-grow: 1;
  border: 1px solid var(--border-col);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--body-background-col);
  color: var(--main-col)
}

.upload-button:hover,
.upload-button:active {
  background-color: var(--body-background-col);
  cursor: pointer;
}

.menu-depliant {
  position: fixed;
  top: 70px;
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: var(--border-col);
  color: var(--main-background-col);
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.charger-doc {
  position: fixed;
  top: 70px;
  left: 210px;
  border: 1px solid black;
  background-color: var(--border-col);
  width: auto;
  height: auto;
  padding: 5px;
  display: inline-block;
  color: var(--main-background-col);
}

.menu-container {
  position: fixed;
  top: 50px;
  left: 10px;
}

.upload-status {
  position: fixed;
  top: 60%;
  left: 10px;
  margin-top: 10px;
  color: rgb(33, 20, 64);
}

.dark-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.dark-mode {
  border: 1px solid var(--border-col);
  background-color: var(--secondary-col);
  color: var(--main-color);
  width: auto;
  height: auto;
}

.reset-container {
  position: fixed;
  top: 75%;
  left: 10px;
}

.reset-button {
  position: fixed;
  bottom: 100px;
  border: 1px solid var(--border-col);
  background-color: pink;
  color: pink;
  width: auto;
  height: auto;
}

.main-container {
  max-width: var(--max-body-width);
  min-height: 100vh;
  background-color: var(--main-background-col);
  color: var(--main-col);
  padding: 50px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header-title {
  margin-top: 100;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.message {
  border: 1px solid var(--border-col);
  border-radius: 5px;
  padding: 10px 15px;
}


.dark-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid var(--border-col);
  background-color: var(--secondary-col);
  color: var(--main-col);
}

.audio-player {
  position: fixed;
  bottom: 0px;
  right: 25px;
  border: 1px solid var(--border-col);
}

.message-human {
  background-color: var(--secondary-col);
}


.upload-container {
  position: fixed;
  top: 20px;
  border: 1px solid var(--border-col);
  background-color: var(--main-background-col);
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-input {
  flex-grow: 1;
  border: 1px solid var(--border-col);
  border-radius: 5px;
  padding: 5px;
}

.prompt-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-body-width);
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-background-col);
  padding: 20px;
  border-top: 1px solid var(--border-col);
}

.prompt-label {
  font-weight: bold;
}

.prompt-input {
  flex-grow: 1;
  border: 1px solid var(--border-col);
  border-radius: 5px;
  padding: 5px;
}

.button {
  border: 1px solid var(--border-col);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-background-col);
  color: var(--main-col);
}


.button:hover,
.button:active {
  background-color: var(--body-background-col);
  cursor: pointer;
}

.hidden {
  display: none;
}


/* Loader code taken from https://loading.io/css/ */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--loader-bullet-size);
}

.loader div {
  position: absolute;
  top: 0;
  width: var(--loader-bullet-size);
  height: var(--loader-bullet-size);
  border-radius: 50%;
  background-color: var(--border-col);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: calc(var(--loader-bullet-size) * 2.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: calc(var(--loader-bullet-size) * 4);
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--loader-bullet-size) * 2), 0);
  }
}