<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ma page</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <audio id="audio-player" class="audio-player" loop>
    <source src="https://eta.vgmtreasurechest.com/soundtracks/minecraft-classic-soundtrack-gamerip-2013/hxrlzyhnqz/01.%20Calm%201.mp3" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
</head>

<body class="lightmode" id="body">

  <button type="button" class = "dark-mode" id="dark-mode">
    Dark mode
  </button>
 
  <div class=" left-container">
    

    <form id="upload-form" class="upload-container" enctype="multipart/form-data">

      <input type="file" id="file-upload" name="file-upload" class="file-input" autocomplete="off"
        accept=".pdf,.txt,.docx" />

      <button type="submit" class="upload-button" id="upload-button">Envoyer</button>

    </form>

    <div class="container">
      <select class="menu-depliant" id="menu-depliant">
        <option value="">Voir les anciens documents</option>
        <option value="1">Document 1</option>
        <option value="2">Document 2</option>
        <option value="3">Document 3</option>
        <option value="4">Document 4</option>
        <option value="5">Document 5</option>
      </select>
      <button class="charger-doc" id="charger-doc">Traiter Option Sélectionnée</button>
      <div class="upload-status" id="upload-status"></div>
    </div>

  </div>


  <main class="main-container">
    <header class="header">
      <h1 class="header-title">I.A.bracadabra</h1>
    </header>

    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
        le cours et je te répondrai.
      </div>
    </section>

    <form id="prompt-form" class="prompt-container">
      <label for="prompt" class="prompt-label">Message</label>

      <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

      <button type="submit" class="button" id="submit-button">Envoyer</button>

      <button type="button" class="button" id="question-button">
        Pose-moi une question !
      </button>
    </form>




    <script src="{{ url_for('static', filename='prompt.js') }}"></script>
  </main>
</body>


</html>


